.map {
  width: 100vw;
  height: calc(100vh - 56px);
}

@font-face {
  font-family: "noteworthy";
  src: url("../public/Noteworthy-Lt.ttf");
}

.game-icon-number-bottle {
  position: absolute;
  font-family: "noteworthy", monospace;
  color: blue;
  font-weight: bold;
  top: 0;
  right: 5px;
  content: var(--count);
}

.game-icon-number-shirt {
  position: absolute;
  font-family: "noteworthy", monospace;
  color: blue;
  font-weight: bold;
  top: 0;
  left: 5px;
  content: var(--count);
}

.chest {
  background-image: url("https://media.discordapp.net/attachments/995303058131128371/995415041409036388/Treasure_Chest_3.png");
  -webkit-transition: background-image 0.2s ease;
  transition: background-image 0.2s ease;
}

.chest:hover {
  background-image: url("https://cdn.discordapp.com/attachments/995303058131128371/995415041669075056/Open_Chest_2.png");
  -webkit-transition: background-image 0.2s ease;
  transition: background-image 0.2s ease;
}

html {
  height: 100vh;
  overflow: hidden;
}

#game {
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  padding: 15px;
}

#gameContainer {
  width: 70%;
  background-color: pink;
  aspect-ratio: 16/9;
  position: relative;
}

#gameContainer > *:not(#buttons) {
  position: absolute;
  width: 75px;
}

#buttons {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  height: 30px;
}

#buttons > * {
  aspect-ratio: 1;
  font-size: 30px;
}

#gameContainer img {
  aspect-ratio: 3/4;
}

.bottle {
  transform: scale(50%);
}
.bottleMoveLR {
  animation: spin 500ms infinite linear, moveLR 1s linear;
}
.bottleMoveUD {
  animation: spin 500ms infinite linear, moveUD 1s linear;
}

.racoonMoveLR {
  animation: racoonLR linear;
}

@media only screen and (max-width: 640px) {
  #gameContainer {
    width: 100%;
    aspect-ratio: 9/16;
  }
  #gameContainer > *:not(#buttons) {
    width: 50px;
  }
}

@keyframes racoonLR {
  from {
    left: 10%;
  }
  to {
    left: 95%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(50%);
  }
  to {
    transform: rotate(360deg) scale(50%);
  }
}

@keyframes moveLR {
  from {
    left: 0%;
  }
  to {
    left: 95%;
  }
}

@keyframes moveUD {
  from {
    bottom: 20%;
  }
  to {
    bottom: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  #buttons {
    display: flex;
  }
}
